/* old style */

.body{
	background-image: url("../images/OTCP2_bg.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

.selected {
    color:#A9927D;
}

.order{
    margin-top: 80px;
}

.bold {
    font-weight: bold;
}