body {
    background: #a9927d !important;
    font-family: 'Quebec Serial Bold', sans-serif;
}


hr {
    border-color: #a9927d;
    background-color: #a9927d;
}

#pInfo {
    background-color: #f3f3f3;
}

/*card element*/
.card {
    background: white;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px 0 5px 0;
    border-radius: 1px;
    margin-bottom: 30px;
}