.t_header {
    background: linear-gradient(35deg,#a9927d,#5e503f);
}

.elementCenter {
    text-align: center;
}

.textWhite {
    color:#F2F4F3;
}

#submit {
    color:#F2F4F3;
    background-color: #5E503f;
}

#copyright {
    background-color: #5E503f;
}